/* ///////////////////// FONTES ///////////////////// */
/* @font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGroteskVariable.ttf');
}

@font-face {
  font-family: 'SpaceMono';
  src: url('fonts/SpaceMono-Regular.ttf');
} */

/* ///////////////////// VARIABLES ///////////////////// */
:root {
  --border: solid black 1.5px;
  --crop-marks-border: solid black 1pt;
  --margin-top: 10mm;
  --margin-right: 10mm;
  --margin-bottom: 10mm;
  /* --margin-left: calc((100% - var(--margin-right)) / 4); */
  --margin-left: calc((100% - var(--margin-right)) / 8);
  --hauteur: 297mm;
  --largeur: 210mm;
  --margin-table: .3em;
}

/* ///////////////////// GÉNÉRAL ///////////////////// */
body{
  background: limegreen;
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: normal;
}

@page{
  size: 210mm 297mm;
  background-color: white;
  margin: 0;
  /* marks: crop; */
}

/* /////////// STICKER ////////// */
.sticker {
  position: absolute;
  padding: .5em;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.sticker_wrapper {
  border: solid black 2pt;
  padding: .5em;
}

/* /////////// COUV ////////// */
@page couv {
  padding: 0;
}

#couv {
  page: couv;
}

/* INTRO */
h1 {
  line-height: 1em;
  font-size: 2.5rem;
  text-align: justify-all;
  font-weight: bold;
}

h2 {
  margin-top: 1em;
  font-weight: bold;
}

#couv h1 + p {
  margin-top: var(--margin-table);
}

#couv p {
  font-size: 1.25em;
}

table {
  border-top: solid black 4pt;
  width: 100%;
}

/* TYPES */
#types {
  margin-top: var(--margin-table);
}

th {
  font-weight: bold;
  text-align: left;
}

.pabold {
  font-weight: normal;
}

#types th,
#types td {
  border-bottom: var(--border);
  padding: var(--margin-table) 0;
}

#types tr:last-of-type td {
  border-bottom: 0 !important;
}

.pourcent {
  text-align: right;
}

.alinéa {
  color: transparent;
  padding: 0;
  border: 0;
}

/* FORMATS */
#formats {
  margin-bottom: var(--margin-table);
}

#formats tr:first-of-type th {
  border-bottom: var(--border);
}

#formats th {
  padding: var(--margin-table) 0;
  font-weight: normal;
}

#formats td {
  border: 0;
}

#formats tr:nth-of-type(2) td{
  padding-top: .45em;
}

.format_largeur,
.format_hauteur {
  text-align: right;
}

/* NBRES */
#nbres td{
  font-size: 1.25em;
  padding-top: var(--margin-table);
}

#nbres td:last-of-type {
  text-align: right;
}

.table-separator {
  text-align: center;
}

/* //////////// INDEX //////////// */
#index {
  page: index;
  break-before: page;
  font-size: 1.5625em;
}

#index h2 {
  background: white;
  z-index: 10;
  isolation: isolate;
}

#index article {
  /* border-left: var(--border); */
  border-left: solid black 1.5pt;
  margin-left: 1em;
}

#index p {
  display: flex;
  padding: .05em .15em;
  transform: translateY(.5em);
}

#index p::before {
  content: 'm';
  padding-left: .2em;
  margin-left: -.15em;
}

#index .comblage {
  flex-grow: 5;
  margin: auto .2em;
}

#index p::before,
.comblage {
  color: transparent;
  /* border-bottom: var(--border); */
  border-bottom: solid black 1.5pt;
  transform: translateY(.05em);
}

.nom-dossiers {
  margin-left: .2em;
}

.nom-dossiers,
.nb-fichiers {
  display: inline-block;
  background: white;
  transform: translateY(.5em);
}

#index article p:first-of-type {
  margin-top: -.85em;
}

#index article .comblage:first-of-type {
  margin-left: 0 !important;
}

/* ///////// LES FICHIERS ///////// */
section.file {
  height: calc(var(--hauteur) - var(--margin-top) - var(--margin-bottom) - 3mm);
  overflow: hidden;
}

section.infos {
  break-before: page;
  font-family:sans-serif;
  /* margin-left: var(--margin-left); */
}

pre {
  /* background: yellow; */
  margin-top: 3em;
  height: calc(var(--hauteur) - var(--margin-top) - var(--margin-bottom) - 3mm - 3em);
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
  overflow: hidden;
  overflow: clip;
  padding: 1em 0;
}

h2.fichier {
  position: absolute;
  font-size: 1.5625em;
  font-weight: bold;
  line-height: 1;
  padding-bottom: var(--margin-table);
  border-bottom: var(--border);
  right: var(--margin-right);
  top: 0;
  text-align: right;
}

.nom_parent {
  width: calc(100% - var(--margin-right) - var(--margin-left));
}

.nom_parent::before {
  content: '🗁';
  margin-right: var(--margin-table);
}

section.apercu {
  break-before: page;
  font-family: monospace;
}

.nom_apercu {
  width: calc(100% - var(--margin-right) - var(--margin-left));
}

hr {
  margin-top: 3em;
  background: black;
  height: 1px;
  border-width: 0;
}

h3,
img,
video {
  margin-top: 4em;
}

h3,
#content p {
  font-size: 1.25em;
  line-height: 1.2;
}

.pagedjs_page_content {
  /* Apparemment sans la border ça bugge */
  border: dotted white 1px;
  padding: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
}

/* crop marks */
.coin {
  position: absolute;
}

.coin_top,
.coin_bottom {
  border-left: var(--crop-marks-border);
  border-right: var(--crop-marks-border);
  left: 0;
  height: 3mm;
  width: 100%;
}

.coin_left,
.coin_right {
  border-top: var(--crop-marks-border);
  border-bottom: var(--crop-marks-border);
  top: 0;
  height: 100%;
  width: 3mm;
}

.coin_top {
  top: -5mm;
}

.coin_right {
  /* À plus de 3mm ça bugge (wtf) */
  right: -3mm;
}

.coin_bottom {
  bottom: -5mm;
}

.coin_left {
  left: -5mm;
}

/* INVISIBLE */
#invisible {
  display: none;
}

/* //////// COLOPHON //////// */
@page colophon {
  margin: 0;
  padding: 0;
}

#colophon {
  page: colophon;
  position: absolute;
  font-size: 1.25rem;
  line-height: 1.1em;
  transform: translate(calc(-1 * (var(--margin-left)) / 2), -50%);
}

#colophon .sticker_wrapper {
  padding: 1em;
}

#colophon article {
  margin: 1em auto;
}

#colophon p:not(:first-of-type) {
  display: inline;
  margin-top: .5em;
}

b {
  font-weight: bold;
}

.url {
  display: inline-block;
  text-decoration: underline;
  margin-left: .2em;
}

/* ///// IMAGES ///// */
img {
  height: auto;
  max-width: 100%;
  object-fit: none;
  object-position: center center;
  overflow: hidden;
}

/* pour imprimer sans utiliser trop d'encre */
pre, img, p, table, h1, h2, h3 {
  /* opacity: .5; */
  /* border-color: gray; */
}
